{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Page View Report</h2>
<script>
var lineData = [];
</script>

{% for dp in datapoints %}
    <script>
    lineData = lineData.concat([{x: {{dp.x}}, y: {{dp.y}}}]);
    </script>
{% endfor %}

<svg id="visualisation" width="1000" height="500"></svg>
<script>
var vis = d3.select('#visualisation'),
    WIDTH = 1000,
    HEIGHT = 500,
    PADDING = 100,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 50
    },
    xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([d3.min(lineData, function(d) {
      return d.x;
    }), d3.max(lineData, function(d) {
      return d.x;
    })]),
    yRange = d3.scale.linear().range([HEIGHT - MARGINS.bottom, MARGINS.top]).domain([d3.min(lineData, function(d) {
      return d.y;
    }), d3.max(lineData, function(d) {
      return d.y;
    })]),
    xAxis = d3.svg.axis()
      .scale(xRange)
      .tickSize(5)
      .tickSubdivide(true),
    yAxis = d3.svg.axis()
      .scale(yRange)
      .tickSize(5)
      .orient('left')
      .tickSubdivide(true);

vis.append('svg:g')
  .attr('class', 'x axis')
  .attr('transform', 'translate(0,' + (HEIGHT - MARGINS.bottom) + ')')
  .call(xAxis);

vis.append('svg:g')
  .attr('class', 'y axis')
  .attr('transform', 'translate(' + (MARGINS.left) + ',0)')
  .call(yAxis);
var lineFunc = d3.svg.line()
  .x(function(d) {
    return xRange(d.x);
  })
  .y(function(d) {
    return yRange(d.y);
  })
  .interpolate('linear');
vis.append('svg:path')
  .attr('d', lineFunc(lineData))
  .attr('stroke', 'blue')
  .attr('stroke-width', 2)
  .attr('fill', 'none');

vis.append("text")
	.attr("text-anchor", "middle")
	.attr("transform", "translate(" + (PADDING/2) + "," +(HEIGHT/2)+")rotate(-90)")
	.text("Urine Output (ml)")

vis.append("text")
	.attr("text-anchor", "middle")
	.attr("transform", "translate(" + (WIDTH/2) + "," +(HEIGHT-(PADDING/3))+")")
	.text("Time")
</script>
</div>

{% endblock %}
